# ==========================================
# 5. NETWORK GROUP (services/network)
# ==========================================
NETWORK_DOMAIN=vmi3040316.contaboserver.net
NETWORK_EMAIL=thanhtinh.de@gmail.com

NETWORK_WGDASHBOARD_IMAGE=donaldzou/wgdashboard:v4.3.3
NETWORK_WGDASHBOARD_PORT=10086
NETWORK_WGDASHBOARD_WG_PORT=51820
NETWORK_WGDASHBOARD_TZ=Asia/Ho_Chi_Minh
NETWORK_WGDASHBOARD_DNS=9.9.9.9

NETWORK_CADDY_IMAGE=caddy:2

LOGIN_WEBHOOK=your hook url here

LOGIN_USER=guest
LOGIN_PASS=thanhtinh@Pass1
LOGIN_PASS_HASH=your hash here
# =========== FAKE DATA ===============================
FAKE_SOURCE_HOST=host_ip_or_domain
FAKE_SOURCE_PORT=5433
FAKE_SOURCE_DB=your_db
FAKE_SOURCE_USER=your_user
FAKE_SOURCE_PASS=Your_pass

RECORDS_PER_MINUTE=1000
