# General
.DS_Store
.idea/
*.log
*.tmp
tmp/

# Environment Variables
.env
.env.local

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.pytest_cache/

# Java / Spark / Flink
target/
*.class
*.jar
checkpoint/
savepoint/

# Docker Volumes - Database Data
infrastructure/1_source/postgres/data/
infrastructure/1_source/kafka/data/
infrastructure/1_source/debezium/data/
infrastructure/1_source/flink/data/
infrastructure/2_lake/*/data/
infrastructure/3_warehouse/*/data/
infrastructure/4_bi/*/data/

# Config error
config_error.*

# Minio data
infrastructure/2_lake/minio/minio_data/

# venv:
venv

# docs
docs/project_description/project_description.md
docs/project_description/staging_sql_data_types_review.md
docs/project_description

# DBT
infrastructure/3_warehouse/dbt/dbt_project/dbt_packages/*
infrastructure/3_warehouse/dbt/dbt_project/logs/*
infrastructure/3_warehouse/dbt/dbt_project/target/*
infrastructure/3_warehouse/dbt/dbt_project/dbt_modules/*
infrastructure/3_warehouse/dbt/.dbt/profiles.yml
#
*.txt
#AI
AI_Folder/*


